.box {
	width: 100%;
	height: auto;
	background: #F1F2F6;
	position: relative;
}

.top {
	width: 100%;
	height: 120px;
	background: url(../img/header_bg.jpg);
}

.nav {
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}

.logo {
	width: 376px;
	height: 120px;
	float: left;
}

.menu {
	height: 120px;
	float: left;
	margin-left: 100px;
}

.menu span {
	display: block;
	float: left;
	width: 100px;
	line-height: 120px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
}

.nav_icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	background: url(../img/nav_xiajiantou.png);
}

.nav_list {
	position: absolute;
	top: 85px;
	z-index: 9;
	width: 100px;
	background: #342448;
	display: none;
}

.nav_list li {
	line-height: 40px;
	height: 40px;
}
.cont_bottom{
	width: 100%;
	height: 33px;
	background: url(../img/map_bottomimg.png) no-repeat center center;
	position: absolute;
	bottom: -1px;
}
.foot {
	width: 100%;
	height: 350px;
	background: url(../img/foot_04.png) center center;
}
.ft_main{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}
.ft_top{
	width: 100%;
	height: 265px;
	padding-top: 1px;
	position: relative;
	
}
.fter_top{
	position: fixed;
	right: 70px;
	bottom: 200px;
}
.email{
	position: fixed;
	right: 50px;
	bottom: 100px;
}
.ft_t_main{
	width: 560px;
	height: 60px;
	margin: 0 auto;
	margin-top: 120px;
}
.ft_t_main ul li{
	width: 57px;
	height: 57px;
	float: left;
	margin-right: 26px;
}
.ft_t_main ul li:nth-child(1){
	background: url(../img/yinyue_duo.png);
}
.ft_t_main ul li:nth-child(2){
	background: url(../img/yinyue_lai.png);
}
.ft_t_main ul li:nth-child(3){
	background: url(../img/yinyue_mi.png);
}
.ft_t_main ul li:nth-child(4){
	background: url(../img/yinyue_fa.png);
}
.ft_t_main ul li:nth-child(5){
	background: url(../img/yinyue_suo.png);
}
.ft_t_main ul li:nth-child(6){
	background: url(../img/yinyue_la.png);
}
.ft_t_main ul li:nth-child(7){
	background: url(../img/yinyue_xi.png);
	margin-right: 0;
}
.ft_t_main ul li:nth-child(1):hover{
	background-position: 0px -57px;
}
.ft_t_main ul li:nth-child(2):hover{
	background-position: 0px -57px;
}
.ft_t_main ul li:nth-child(3):hover{
	background-position: 0px -57px;
}
.ft_t_main ul li:nth-child(4):hover{
	background-position: 0px -57px;
}
.ft_t_main ul li:nth-child(5):hover{
	background-position: 0px -57px;
}
.ft_t_main ul li:nth-child(6):hover{
	background-position: 0px -57px;
}
.ft_t_main ul li:nth-child(7):hover{
	background-position: 0px -57px;
}
.ft_bottom{
	width: 100%;
	height: 80px;
	border-top: 1px dashed #ccc;
	text-align: center;
	line-height: 60px;
    font-size: 18px;
    font-family: "STKaiti";
    color: rgb(255, 255, 255);
}